*{
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
    flex-basis: 0;
}

.box-item-nav{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

.special-box{
    flex-shrink: 1;
}

.box-item-image{
    flex: 3 1 400px;
}

.box-item-text{
    flex: 1 1 18em;
}